@use "../_tools.scss" as tools;

// navigation fixed on wide screens
.navigation {
  // @media (min-width: 45em) {
  //   position: sticky;
  //   top: 0;
  //   z-index: 10;
  // }
  top: 0;
  z-index: 10;
}

.navigation {
  background: var(--background-color-two);
  padding-left: var(--padding);
  padding-right: var(--padding);
  // width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  position: fixed;
}

// a:-webkit-any-link {
//   color: var(--black-color);
// }

.navigation__ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  margin: 0;
}

.navigation__ul li:not(:first-child) > .navigation__link {
  padding: var(--padding);
  margin: var(--margin);
}

.navigation__ul li:first-child {
  margin: var(--margin);
}

.navigation__image {
  width: 100%;
  height: auto;
  max-height: 3em;
  object-fit: contain;
}

.navigation__icon {
  cursor: pointer;
  display: none;
  float: right;
  margin: var(--margin);
  color: var(--white-color);
  z-index: 20;
  position: sticky;
  top: 0;
  background-color: var(--black-color);
  border-radius: var(--border-radius);
}

.navigation__link {
  cursor: pointer;
  color: var(--white-color);
}

@media (max-width: 1000px) {
  .isClosed.navigation {
    // display: none;
  }

  .navigation__icon {
    display: block;
    z-index: 20;
  }

  .isOpen.navigation {
    padding: var(--padding);
  }

  // .isOpen.navigation > .navigation__ul {
    .navigation__ul {
    display: grid;
    grid-template-columns: 1fr; /* One item per row */
    gap: calc(var(--margin) * 2); /* Adjust the gap between items as needed */
    justify-items: center;
    z-index: 10;
  }


  // animation when opening and closing the navigation
  @keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
      z-index: 10;
    }
  }
  
  @keyframes slideOut {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
      z-index: 10;
    }
  }

  .navigation.isOpen {
    animation: slideIn 0.5s ease-in-out ; /* Use forwards to keep the final state */
  }
  
  .navigation.isClosed {
    animation: slideOut 0.5s ease-in-out forwards; /* Use forwards to keep the final state */
  }

  // animation on button clicked
  .navigation__icon {
    scale: 1;
  }

  .navigation__icon:hover {
    scale: 0.8;
    transition: scale 0.2s;
  }
}


.navigation__li {
  scale: 1;
  transition: scale 0.2s;
}

.navigation__li:hover {
  scale: 0.9;
}

