@use "../_tools.scss" as tools;

// navigation fixed on wide screens
.navigation {
  // @media (min-width: 45em) {
  //   position: sticky;
  //   top: 0;
  //   z-index: 10;
  // }
  top: 0;
  z-index: 10;
}

.navigation {
  background: var(--background-color-two);
  padding-left: var(--padding);
  padding-right: var(--padding);
  width: 100%;
}

// a:-webkit-any-link {
//   color: var(--black-color);
// }

.navigation__ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  margin: 0;
}

.navigation__ul li:not(:first-child) > .navigation__link {
  padding: var(--padding);
  margin: var(--margin);
}

.navigation__ul li:first-child {
  margin: var(--margin);
}

.navigation__image {
  width: 100%;
  height: auto;
  max-height: 3em;
  object-fit: contain;
}

.navigation__icon {
  cursor: pointer;
  display: none;
  float: right;
  margin: var(--margin);
  color: var(--white-color);
}

.navigation__link {
  cursor: pointer;
  color: var(--white-color);
}

@media (max-width: 1000px) {
  .isClosed.navigation {
    display: none;
  }

  .navigation__icon {
    display: block;
  }

  .isOpen.navigation {
    padding: var(--padding);
  }

  .isOpen.navigation > .navigation__ul {
    display: grid;
    grid-template-columns: 1fr; /* One item per row */
    gap: calc(var(--margin) * 2); /* Adjust the gap between items as needed */
    justify-items: right;
  }
}


.navigation__li {
  scale: 1;
  transition: scale 0.2s;
}

.navigation__li:hover {
  scale: 0.9;
}