:root {
  font-family: var(--font-family);
  font-size: var(--basic-font-size);
  line-height: 1.3;
  background-color: var(--background-color-one);
}

body {
  margin: 0;
}

h1 {
  font-size: var(--fontsize-h1);
  // text-align: center;
}

h2 {
  font-size: var(--fontsize-h2);
  // text-align: center;
}

h3 {
  font-size: var(--fontsize-h3);
  // text-align: center;
}

p {
  font-size: var(--fontsize-p);
}
form, input, select, textarea {
  font-size: var(--fontsize-form);
  font-family: var(--font-family);
}
table {
  font-size: var(--fontsize-table);
}
button, [type="submit"], [type="reset"] {
  font-size: var(--fontsize-button);
}

nav {
  font-size: var(--fontsize-navigation);
}
  
h1, h2, h3 {
  color: var(--text-color-one);
}

label, input, p, input, button, figcaption, form, textarea {
  color: var(--text-color-two);
}

a {
  text-decoration: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}