:root {
  --text-color-one: rgb(255, 226, 4);
  --text-color-two: rgb(255, 255, 255);
  --text-color-three: rgb(0, 124, 219);
  --background-color-one: rgb(33, 33, 33);
  --background-color-two: rgb(58, 58, 58);

  --java-color: rgb(256, 124, 4);
  --flutter-color: rgb(4, 84, 156);
  --nextjs-color: rgb(0, 0, 0);
  --react-color: rgb(80, 212, 252);
  --css-color: rgb(231, 199, 16);

  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --accept-color: rgb(30, 228, 40);
  --decline-color: rgb(241, 79, 79);

  --font-family: "Trebuchet MS", sans-serif;

  --basic-font-size: 18px;
  --fontsize-h1: 3rem;
  --fontsize-h2: 1.8rem;
  --fontsize-h3: 1.3rem;
  --fontsize-p: 1.1rem;
  --fontsize-form: 1.1rem;
  --fontsize-table: 1.1rem;
  --fontsize-button: 1.1rem;
  --fontsize-navigation: 1.3rem;

  --max-text-length: 60ch;
  --margin-viewport: 3vh;
  --border-radius: 0.5rem;
  --margin: 0.5rem;
  --padding: 0.5rem;
  --max-button-height: 3rem;
  --max-button-width: 10rem;
  --img-height: 20rem;
  --img-width: 30rem;
}
