:root {
  --text-color-one: rgb(255, 226, 4);
  --text-color-two: rgb(255, 255, 255);
  --text-color-three: rgb(0, 124, 219);
  --background-color-one: rgb(33, 33, 33);
  --background-color-two: rgb(58, 58, 58);
  --java-color: rgb(256, 124, 4);
  --flutter-color: rgb(4, 84, 156);
  --nextjs-color: rgb(0, 0, 0);
  --react-color: rgb(80,212,252);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --accept-color: rgb(30, 228, 40);
  --decline-color: rgb(241, 79, 79);
  --font-family: "Trebuchet MS", sans-serif;
  --basic-font-size: 18px;
  --fontsize-h1: 3rem;
  --fontsize-h2: 1.8rem;
  --fontsize-h3: 1.3rem;
  --fontsize-p: 1.1rem;
  --fontsize-form: 1.1rem;
  --fontsize-table: 1.1rem;
  --fontsize-button: 1.1rem;
  --fontsize-navigation: 1.3rem;
  --max-text-length: 60ch;
  --margin-viewport: 3vh;
  --border-radius: 0.5rem;
  --margin: 0.5rem;
  --padding: 0.5rem;
  --max-button-height: 3rem;
  --max-button-width: 10rem;
  --img-height: 20rem;
  --img-width: 30rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.3;
}

p {
  max-width: 60ch;
}

a,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  font-weight: bold;
}

:root {
  font-family: var(--font-family);
  font-size: var(--basic-font-size);
  line-height: 1.3;
  background-color: var(--background-color-one);
}

body {
  margin: 0;
}

h1 {
  font-size: var(--fontsize-h1);
}

h2 {
  font-size: var(--fontsize-h2);
}

h3 {
  font-size: var(--fontsize-h3);
}

p {
  font-size: var(--fontsize-p);
}

form, input, select, textarea {
  font-size: var(--fontsize-form);
  font-family: var(--font-family);
}

table {
  font-size: var(--fontsize-table);
}

button, [type=submit], [type=reset] {
  font-size: var(--fontsize-button);
}

nav {
  font-size: var(--fontsize-navigation);
}

h1, h2, h3 {
  color: var(--text-color-one);
}

label, input, p, input, button, figcaption, form, textarea {
  color: var(--text-color-two);
}

a {
  text-decoration: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.rounded {
  border-radius: var(--border-radius);
  border: none;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.rowchild {
  flex: 1 0.5 25rem;
  max-width: 95%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 15em));
}

@media screen and (min-width: 1000px) {
  .grid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 20em));
  }
}
.navigation {
  top: 0;
  z-index: 10;
}

.navigation {
  background: var(--background-color-two);
  padding-left: var(--padding);
  padding-right: var(--padding);
  width: 100%;
}

.navigation__ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  margin: 0;
}

.navigation__ul li:not(:first-child) > .navigation__link {
  padding: var(--padding);
  margin: var(--margin);
}

.navigation__ul li:first-child {
  margin: var(--margin);
}

.navigation__image {
  width: 100%;
  height: auto;
  max-height: 3em;
  -o-object-fit: contain;
     object-fit: contain;
}

.navigation__icon {
  cursor: pointer;
  display: none;
  float: right;
  margin: var(--margin);
  color: var(--white-color);
}

.navigation__link {
  cursor: pointer;
  color: var(--white-color);
}

@media (max-width: 1000px) {
  .isClosed.navigation {
    display: none;
  }
  .navigation__icon {
    display: block;
  }
  .isOpen.navigation {
    padding: var(--padding);
  }
  .isOpen.navigation > .navigation__ul {
    display: grid;
    grid-template-columns: 1fr; /* One item per row */
    gap: calc(var(--margin) * 2); /* Adjust the gap between items as needed */
    justify-items: right;
  }
}
.navigation__li {
  scale: 1;
  transition: scale 0.2s;
}

.navigation__li:hover {
  scale: 0.9;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 25em));
  gap: 2em;
  justify-content: center;
}

.card {
  margin: var(--margin);
  padding: var(--padding);
  background-color: var(--background-color-two);
}

.card__language {
  padding: var(--padding);
}

.card__image {
  max-height: 30em;
}

.card__figure {
  display: flex;
  justify-content: center;
}

.Java {
  background-color: var(--java-color);
}

.NextJS {
  background-color: var(--nextjs-color);
}

.Flutter {
  background-color: var(--flutter-color);
}

.React {
  background-color: var(--react-color);
}

.card {
  scale: 1;
  transition: scale 0.2s, transform 1s, opacity 1s;
  opacity: 0;
  transform: translateY(10%);
}

.card:hover {
  scale: 0.95;
}

.slide-in {
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0.3s, 0.3s;
}

.card:nth-child(1) {
  transition-delay: 0s, 0.3s, 0.3s;
}

.card:nth-child(2) {
  transition-delay: 0s, 0.6s, 0.3s;
}

.card:nth-child(3) {
  transition-delay: 0s, 0.9s, 0.3s;
}

.card:nth-child(4) {
  transition-delay: 0s, 1.2s, 0.3s;
}

.card:nth-child(5) {
  transition-delay: 0s, 1.5s, 0.3s;
}

.card:nth-child(6) {
  transition-delay: 0s, 1.8s, 0.3s;
}

.card:nth-child(7) {
  transition-delay: 0s, 2.1s, 0.3s;
}

.card:nth-child(8) {
  transition-delay: 0s, 2.4s, 0.3s;
}

.card:nth-child(9) {
  transition-delay: 0s, 2.7s, 0.3s;
}

.card:nth-child(10) {
  transition-delay: 0s, 3s, 0.3s;
}

.images {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.image__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 20em;
  margin: calc(var(--margin) * 3);
}

.page {
  padding: 2%;
}

.page__github {
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--white-color);
  color: var(--black-color);
}

.page__a, .page__a:hover {
  color: var(--black-color);
}

.page__github {
  scale: 1;
  transition: scale 0.2s;
}

.page__github:hover, .page__a:active {
  scale: 0.9;
}

.about__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: top;
}

.about__rowchild {
  flex: 0.5 1 30em;
  margin: var(--margin);
}

.about__rowchild + img {
  max-width: 100%; /* Set a maximum width of 100% to make the image responsive */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
}
/*# sourceMappingURL=styles.css.map */